/*****BOTTOM*****/
.u-pd-b0 {
	padding-bottom: 0 !important;
}

.u-pd-b1 {
	padding-bottom: $spacingXS !important;
}

.u-pd-b2 {
	padding-bottom: $spacingSM !important;
}

.u-pd-b3 {
	padding-bottom: $spacing !important;
}

.u-pd-b4 {
	padding-bottom: $spacingMD !important;
}

.u-pd-b5 {
	padding-bottom: $spacingLG !important;
}

.u-pd-b6 {
	padding-bottom: $spacingXL !important;
}

.u-pd-b7 {
	padding-bottom: $spacingXXL !important;
}
