/*****GENERIC*****/
.u-pd-0 {
	padding: 0 !important;
}

.u-pd-1 {
	padding: $spacingXS !important;
}

.u-pd-2 {
	padding: $spacingSM !important;
}

.u-pd-3 {
	padding: $spacing !important;
}

.u-pd-4 {
	padding: $spacingMD !important;
}

.u-pd-5 {
	padding: $spacingLG !important;
}

.u-pd-6 {
	padding: $spacingXL !important;
}

.u-pd-7 {
	padding: $spacingXXL !important;
}
