/***Horizontal***/
.u-pd-h0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.u-pd-h1 {
	padding-left: $spacingXS !important;
	padding-right: $spacingXS !important;
}

.u-pd-h2 {
	padding-left: $spacingSM !important;
	padding-right: $spacingSM !important;
}

.u-pd-h3 {
	padding-left: $spacing !important;
	padding-right: $spacing !important;
}

.u-pd-h4 {
	padding-left: $spacingMD !important;
	padding-right: $spacingMD !important;
}

.u-pd-h5 {
	padding-left: $spacingLG !important;
	padding-right: $spacingLG !important;
}

.u-pd-h6 {
	padding-left: $spacingXL !important;
	padding-right: $spacingXL !important;
}

.u-pd-h7 {
	padding-left: $spacingXXL !important;
	padding-right: $spacingXXL !important;
}
