/*****LEFT*****/
.u-pd-l0 {
	padding-left: 0 !important;
}

.u-pd-l1 {
	padding-left: $spacingXS !important;
}

.u-pd-l2 {
	padding-left: $spacingSM !important;
}

.u-pd-l3 {
	padding-left: $spacing !important;
}

.u-pd-l4 {
	padding-left: $spacingMD !important;
}

.u-pd-l5 {
	padding-left: $spacingLG !important;
}

.u-pd-l6 {
	padding-left: $spacingXL !important;
}

.u-pd-l7 {
	padding-left: $spacingXXL !important;
}
