@media (min-width: 36em) {
	/**********PADDING**********/
	/*****TOP*****/
	.u-pd-t0--sm {
		padding-top: 0 !important;
	}
	.u-pd-t1--sm {
		padding-top: $spacingXS !important;
	}
	.u-pd-t2--sm {
		padding-top: $spacingSM !important;
	}
	.u-pd-t3--sm {
		padding-top: $spacing !important;
	}
	.u-pd-t4--sm {
		padding-top: $spacingMD !important;
	}
	.u-pd-t5--sm {
		padding-top: $spacingLG !important;
	}
	.u-pd-t6--sm {
		padding-top: $spacingXL !important;
	}
	.u-pd-t7--sm {
		padding-top: $spacingXXL !important;
	}
	/*****RIGHT*****/
	.u-pd-r0--sm {
		padding-right: 0 !important;
	}
	.u-pd-r1--sm {
		padding-right: $spacingXS !important;
	}
	.u-pd-r2--sm {
		padding-right: $spacingSM !important;
	}
	.u-pd-r3--sm {
		padding-right: $spacing !important;
	}
	.u-pd-r4--sm {
		padding-right: $spacingMD !important;
	}
	.u-pd-r5--sm {
		padding-right: $spacingLG !important;
	}
	.u-pd-r6--sm {
		padding-right: $spacingXL !important;
	}
	.u-pd-r7--sm {
		padding-right: $spacingXXL !important;
	}
	/*****BOTTOM*****/
	.u-pd-b0--sm {
		padding-bottom: 0 !important;
	}
	.u-pd-b1--sm {
		padding-bottom: $spacingXS !important;
	}
	.u-pd-b2--sm {
		padding-bottom: $spacingSM !important;
	}
	.u-pd-b3--sm {
		padding-bottom: $spacing !important;
	}
	.u-pd-b4--sm {
		padding-bottom: $spacingMD !important;
	}
	.u-pd-b5--sm {
		padding-bottom: $spacingLG !important;
	}
	.u-pd-b6--sm {
		padding-bottom: $spacingXL !important;
	}
	.u-pd-b7--sm {
		padding-bottom: $spacingXXL !important;
	}
	/*****LEFT*****/
	.u-pd-l0--sm {
		padding-left: 0 !important;
	}
	.u-pd-l1--sm {
		padding-left: $spacingXS !important;
	}
	.u-pd-l2--sm {
		padding-left: $spacingSM !important;
	}
	.u-pd-l3--sm {
		padding-left: $spacing !important;
	}
	.u-pd-l4--sm {
		padding-left: $spacingMD !important;
	}
	.u-pd-l5--sm {
		padding-left: $spacingLG !important;
	}
	.u-pd-l6--sm {
		padding-left: $spacingXL !important;
	}
	.u-pd-l7--sm {
		padding-left: $spacingXXL !important;
	}
	/*****Combination*****/
	/***Vertical***/
	.u-pd-v0--sm {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.u-pd-v1--sm {
		padding-top: $spacingXS !important;
		padding-bottom: $spacingXS !important;
	}
	.u-pd-v2--sm {
		padding-top: $spacingSM !important;
		padding-bottom: $spacingSM !important;
	}
	.u-pd-v3--sm {
		padding-top: $spacing !important;
		padding-bottom: $spacing !important;
	}
	.u-pd-v4--sm {
		padding-top: $spacingMD !important;
		padding-bottom: $spacingMD !important;
	}
	.u-pd-v5--sm {
		padding-top: $spacingLG !important;
		padding-bottom: $spacingLG !important;
	}
	.u-pd-v6--sm {
		padding-top: $spacingXL !important;
		padding-bottom: $spacingXL !important;
	}
	.u-pd-v7--sm {
		padding-top: $spacingXXL !important;
		padding-bottom: $spacingXXL !important;
	}
	/***Horizontal***/
	.u-pd-h0--sm {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.u-pd-h1--sm {
		padding-left: $spacingXS !important;
		padding-right: $spacingXS !important;
	}
	.u-pd-h2--sm {
		padding-left: $spacingSM !important;
		padding-right: $spacingSM !important;
	}
	.u-pd-h3--sm {
		padding-left: $spacing !important;
		padding-right: $spacing !important;
	}
	.u-pd-h4--sm {
		padding-left: $spacingMD !important;
		padding-right: $spacingMD !important;
	}
	.u-pd-h5--sm {
		padding-left: $spacingLG !important;
		padding-right: $spacingLG !important;
	}
	.u-pd-h6--sm {
		padding-left: $spacingXL !important;
		padding-right: $spacingXL !important;
	}
	.u-pd-h7--sm {
		padding-left: $spacingXXL !important;
		padding-right: $spacingXXL !important;
	}
	/*****GENERIC*****/
	.u-pd-0--sm {
		padding: 0 !important;
	}
	.u-pd-1--sm {
		padding: $spacingXS !important;
	}
	.u-pd-2--sm {
		padding: $spacingSM !important;
	}
	.u-pd-3--sm {
		padding: $spacing !important;
	}
	.u-pd-4--sm {
		padding: $spacingMD !important;
	}
	.u-pd-5--sm {
		padding: $spacingLG !important;
	}
	.u-pd-6--sm {
		padding: $spacingXL !important;
	}
	.u-pd-7--sm {
		padding: $spacingXXL !important;
	}
}
