/*****RIGHT*****/
.u-pd-r0 {
	padding-right: 0 !important;
}

.u-pd-r1 {
	padding-right: $spacingXS !important;
}

.u-pd-r2 {
	padding-right: $spacingSM !important;
}

.u-pd-r3 {
	padding-right: $spacing !important;
}

.u-pd-r4 {
	padding-right: $spacingMD !important;
}

.u-pd-r5 {
	padding-right: $spacingLG !important;
}

.u-pd-r6 {
	padding-right: $spacingXL !important;
}

.u-pd-r7 {
	padding-right: $spacingXXL !important;
}
