/**********PADDING**********/
/*****TOP*****/
.u-pd-t0 {
	padding-top: $zero !important;
}

.u-pd-t1 {
	padding-top: $spacingXS !important;
}

.u-pd-t2 {
	padding-top: $spacingSM !important;
}

.u-pd-t3 {
	padding-top: $spacing !important;
}

.u-pd-t4 {
	padding-top: $spacingMD !important;
}

.u-pd-t5 {
	padding-top: $spacingLG !important;
}

.u-pd-t6 {
	padding-top: $spacingXL !important;
}

.u-pd-t7 {
	padding-top: $spacingXXL !important;
}
