/*****Combination*****/
/***Vertical***/
.u-pd-v0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.u-pd-v1 {
	padding-top: $spacingXS !important;
	padding-bottom: $spacingXS !important;
}

.u-pd-v2 {
	padding-top: $spacingSM !important;
	padding-bottom: $spacingSM !important;
}

.u-pd-v3 {
	padding-top: $spacing !important;
	padding-bottom: $spacing !important;
}

.u-pd-v4 {
	padding-top: $spacingMD !important;
	padding-bottom: $spacingMD !important;
}

.u-pd-v5 {
	padding-top: $spacingLG !important;
	padding-bottom: $spacingLG !important;
}

.u-pd-v6 {
	padding-top: $spacingXL !important;
	padding-bottom: $spacingXL !important;
}

.u-pd-v7 {
	padding-top: $spacingXXL !important;
	padding-bottom: $spacingXXL !important;
}
