/**********PADDING**********/
/*****TOP*****/
.u-padding-t0 {
	padding-top: 0 !important;
}

.u-padding-t1 {
	padding-top: 0.25rem !important;
}

.u-padding-t2 {
	padding-top: 0.5rem !important;
}

.u-padding-t3 {
	padding-top: 1rem !important;
}

.u-padding-t4 {
	padding-top: 2rem !important;
}

.u-padding-t5 {
	padding-top: 4rem !important;
}

.u-padding-t6 {
	padding-top: 8rem !important;
}

.u-padding-t7 {
	padding-top: 16rem !important;
}

/*****RIGHT*****/
.u-padding-r0 {
	padding-right: 0 !important;
}

.u-padding-r1 {
	padding-right: 0.25rem !important;
}

.u-padding-r2 {
	padding-right: 0.5rem !important;
}

.u-padding-r3 {
	padding-right: 1rem !important;
}

.u-padding-r4 {
	padding-right: 2rem !important;
}

.u-padding-r5 {
	padding-right: 4rem !important;
}

.u-padding-r6 {
	padding-right: 8rem !important;
}

.u-padding-r7 {
	padding-right: 16rem !important;
}

/*****BOTTOM*****/
.u-padding-b0 {
	padding-bottom: 0 !important;
}

.u-padding-b1 {
	padding-bottom: 0.25rem !important;
}

.u-padding-b2 {
	padding-bottom: 0.5rem !important;
}

.u-padding-b3 {
	padding-bottom: 1rem !important;
}

.u-padding-b4 {
	padding-bottom: 2rem !important;
}

.u-padding-b5 {
	padding-bottom: 4rem !important;
}

.u-padding-b6 {
	padding-bottom: 8rem !important;
}

.u-padding-b7 {
	padding-bottom: 16rem !important;
}

/*****LEFT*****/
.u-padding-l0 {
	padding-left: 0 !important;
}

.u-padding-l1 {
	padding-left: 0.25rem !important;
}

.u-padding-l2 {
	padding-left: 0.5rem !important;
}

.u-padding-l3 {
	padding-left: 1rem !important;
}

.u-padding-l4 {
	padding-left: 2rem !important;
}

.u-padding-l5 {
	padding-left: 4rem !important;
}

.u-padding-l6 {
	padding-left: 8rem !important;
}

.u-padding-l7 {
	padding-left: 16rem !important;
}

/*****Combination*****/
/***Vertical***/
.u-padding-v0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.u-padding-v1 {
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
}

.u-padding-v2 {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.u-padding-v3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.u-padding-v4 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}

.u-padding-v5 {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}

.u-padding-v6 {
	padding-top: 8rem !important;
	padding-bottom: 8rem !important;
}

.u-padding-v7 {
	padding-top: 16rem !important;
	padding-bottom: 16rem !important;
}

/***Horizontal***/
.u-padding-h0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.u-padding-h1 {
	padding-left: 0.25rem !important;
	padding-right: 0.25rem !important;
}

.u-padding-h2 {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

.u-padding-h3 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

.u-padding-h4 {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.u-padding-h5 {
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}

.u-padding-h6 {
	padding-left: 8rem !important;
	padding-right: 8rem !important;
}

.u-padding-h7 {
	padding-left: 16rem !important;
	padding-right: 16rem !important;
}

/*****GENERIC*****/
.u-padding-0 {
	padding: 0 !important;
}

.u-padding-1 {
	padding: 0.25rem !important;
}

.u-padding-2 {
	padding: 0.5rem !important;
}

.u-padding-3 {
	padding: 1rem !important;
}

.u-padding-4 {
	padding: 2rem !important;
}

.u-padding-5 {
	padding: 4rem !important;
}

.u-padding-6 {
	padding: 8rem !important;
}

.u-padding-7 {
	padding: 16rem !important;
}

@media (min-width: 36em) {
	/**********PADDING**********/
	/*****TOP*****/
	.u-padding-t0--sm {
		padding-top: 0 !important;
	}
	.u-padding-t1--sm {
		padding-top: 0.25rem !important;
	}
	.u-padding-t2--sm {
		padding-top: 0.5rem !important;
	}
	.u-padding-t3--sm {
		padding-top: 1rem !important;
	}
	.u-padding-t4--sm {
		padding-top: 2rem !important;
	}
	.u-padding-t5--sm {
		padding-top: 4rem !important;
	}
	.u-padding-t6--sm {
		padding-top: 8rem !important;
	}
	.u-padding-t7--sm {
		padding-top: 16rem !important;
	}
	/*****RIGHT*****/
	.u-padding-r0--sm {
		padding-right: 0 !important;
	}
	.u-padding-r1--sm {
		padding-right: 0.25rem !important;
	}
	.u-padding-r2--sm {
		padding-right: 0.5rem !important;
	}
	.u-padding-r3--sm {
		padding-right: 1rem !important;
	}
	.u-padding-r4--sm {
		padding-right: 2rem !important;
	}
	.u-padding-r5--sm {
		padding-right: 4rem !important;
	}
	.u-padding-r6--sm {
		padding-right: 8rem !important;
	}
	.u-padding-r7--sm {
		padding-right: 16rem !important;
	}
	/*****BOTTOM*****/
	.u-padding-b0--sm {
		padding-bottom: 0 !important;
	}
	.u-padding-b1--sm {
		padding-bottom: 0.25rem !important;
	}
	.u-padding-b2--sm {
		padding-bottom: 0.5rem !important;
	}
	.u-padding-b3--sm {
		padding-bottom: 1rem !important;
	}
	.u-padding-b4--sm {
		padding-bottom: 2rem !important;
	}
	.u-padding-b5--sm {
		padding-bottom: 4rem !important;
	}
	.u-padding-b6--sm {
		padding-bottom: 8rem !important;
	}
	.u-padding-b7--sm {
		padding-bottom: 16rem !important;
	}
	/*****LEFT*****/
	.u-padding-l0--sm {
		padding-left: 0 !important;
	}
	.u-padding-l1--sm {
		padding-left: 0.25rem !important;
	}
	.u-padding-l2--sm {
		padding-left: 0.5rem !important;
	}
	.u-padding-l3--sm {
		padding-left: 1rem !important;
	}
	.u-padding-l4--sm {
		padding-left: 2rem !important;
	}
	.u-padding-l5--sm {
		padding-left: 4rem !important;
	}
	.u-padding-l6--sm {
		padding-left: 8rem !important;
	}
	.u-padding-l7--sm {
		padding-left: 16rem !important;
	}
	/*****Combination*****/
	/***Vertical***/
	.u-padding-v0--sm {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.u-padding-v1--sm {
		padding-top: 0.25rem !important;
		padding-bottom: 0.25rem !important;
	}
	.u-padding-v2--sm {
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
	}
	.u-padding-v3--sm {
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.u-padding-v4--sm {
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
	.u-padding-v5--sm {
		padding-top: 4rem !important;
		padding-bottom: 4rem !important;
	}
	.u-padding-v6--sm {
		padding-top: 8rem !important;
		padding-bottom: 8rem !important;
	}
	.u-padding-v7--sm {
		padding-top: 16rem !important;
		padding-bottom: 16rem !important;
	}
	/***Horizontal***/
	.u-padding-h0--sm {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.u-padding-h1--sm {
		padding-left: 0.25rem !important;
		padding-right: 0.25rem !important;
	}
	.u-padding-h2--sm {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
	.u-padding-h3--sm {
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.u-padding-h4--sm {
		padding-left: 2rem !important;
		padding-right: 2rem !important;
	}
	.u-padding-h5--sm {
		padding-left: 4rem !important;
		padding-right: 4rem !important;
	}
	.u-padding-h6--sm {
		padding-left: 8rem !important;
		padding-right: 8rem !important;
	}
	.u-padding-h7--sm {
		padding-left: 16rem !important;
		padding-right: 16rem !important;
	}
	/*****GENERIC*****/
	.u-padding-0--sm {
		padding: 0 !important;
	}
	.u-padding-1--sm {
		padding: 0.25rem !important;
	}
	.u-padding-2--sm {
		padding: 0.5rem !important;
	}
	.u-padding-3--sm {
		padding: 1rem !important;
	}
	.u-padding-4--sm {
		padding: 2rem !important;
	}
	.u-padding-5--sm {
		padding: 4rem !important;
	}
	.u-padding-6--sm {
		padding: 8rem !important;
	}
	.u-padding-7--sm {
		padding: 16rem !important;
	}
}

/**********MARGIN**********/
/*****TOP*****/
.u-margin-t0 {
	margin-top: 0 !important;
}

.u-margin-t1 {
	margin-top: 0.25rem !important;
}

.u-margin-t2 {
	margin-top: 0.5rem !important;
}

.u-margin-t3 {
	margin-top: 1rem !important;
}

.u-margin-t4 {
	margin-top: 2rem !important;
}

.u-margin-t5 {
	margin-top: 4rem !important;
}

.u-margin-t6 {
	margin-top: 8rem !important;
}

.u-margin-t7 {
	margin-top: 16rem !important;
}

/*****RIGHT*****/
.u-margin-r0 {
	margin-right: 0 !important;
}

.u-margin-r1 {
	margin-right: 0.25rem !important;
}

.u-margin-r2 {
	margin-right: 0.5rem !important;
}

.u-margin-r3 {
	margin-right: 1rem !important;
}

.u-margin-r4 {
	margin-right: 2rem !important;
}

.u-margin-r5 {
	margin-right: 4rem !important;
}

.u-margin-r6 {
	margin-right: 8rem !important;
}

.u-margin-r7 {
	margin-right: 16rem !important;
}

/*****BOTTOM*****/
.u-margin-b0 {
	margin-bottom: 0 !important;
}

.u-margin-b1 {
	margin-bottom: 0.25rem !important;
}

.u-margin-b2 {
	margin-bottom: 0.5rem !important;
}

.u-margin-b3 {
	margin-bottom: 1rem !important;
}

.u-margin-b4 {
	margin-bottom: 2rem !important;
}

.u-margin-b5 {
	margin-bottom: 4rem !important;
}

.u-margin-b6 {
	margin-bottom: 8rem !important;
}

.u-margin-b7 {
	margin-bottom: 16rem !important;
}

/*****LEFT*****/
.u-margin-l0 {
	margin-left: 0 !important;
}

.u-margin-l1 {
	margin-left: 0.25rem !important;
}

.u-margin-l2 {
	margin-left: 0.5rem !important;
}

.u-margin-l3 {
	margin-left: 1rem !important;
}

.u-margin-l4 {
	margin-left: 2rem !important;
}

.u-margin-l5 {
	margin-left: 4rem !important;
}

.u-margin-l6 {
	margin-left: 8rem !important;
}

.u-margin-l7 {
	margin-left: 16rem !important;
}

/*****Combination*****/
/***Vertical***/
.u-margin-v0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.u-margin-v1 {
	margin-top: 0.25rem !important;
	margin-bottom: 0.25rem !important;
}

.u-margin-v2 {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.u-margin-v3 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

.u-margin-v4 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

.u-margin-v5 {
	margin-top: 4rem !important;
	margin-bottom: 4rem !important;
}

.u-margin-v6 {
	margin-top: 8rem !important;
	margin-bottom: 8rem !important;
}

.u-margin-v7 {
	margin-top: 16rem !important;
	margin-bottom: 16rem !important;
}

/***Horizontal***/
.u-margin-h0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.u-margin-h1 {
	margin-left: 0.25rem !important;
	margin-right: 0.25rem !important;
}

.u-margin-h2 {
	margin-left: 0.5rem !important;
	margin-right: 0.5rem !important;
}

.u-margin-h3 {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}

.u-margin-h4 {
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}

.u-margin-h5 {
	margin-left: 4rem !important;
	margin-right: 4rem !important;
}

.u-margin-h6 {
	margin-left: 8rem !important;
	margin-right: 8rem !important;
}

.u-margin-h7 {
	margin-left: 16rem !important;
	margin-right: 16rem !important;
}

/*****GENERIC*****/
.u-margin-0 {
	margin: 0 !important;
}

.u-margin-1 {
	margin: 0.25rem !important;
}

.u-margin-2 {
	margin: 0.5rem !important;
}

.u-margin-3 {
	margin: 1rem !important;
}

.u-margin-4 {
	margin: 2rem !important;
}

.u-margin-5 {
	margin: 4rem !important;
}

.u-margin-6 {
	margin: 8rem !important;
}

.u-margin-7 {
	margin: 16rem !important;
}

/**********TEXT**********/
.u-text-uppercase {
	text-transform: uppercase !important;
}

.u-text-bold {
	font-weight: bold !important;
}

.u-text-underline {
	text-decoration: underline !important;
}

.u-text-underline-none {
	text-decoration: none !important;
}

/**********USER INTERFACE**********/
.u-hide {
	display: none !important;
}

.u-cursor-pointer {
	cursor: pointer !important;
}

.u-box-shadow-none {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.u-width-full,
.u-block {
	width: 100% !important;
}

.u-width-half,
.u-block-half {
	width: 50% !important;
}

.u-height-full,
.u-block {
	height: 100% !important;
}

.u-height-half,
.u-block-half {
	height: 50% !important;
}

.u-block {
	display: block !important;
}

.u-block-half {
	display: block !important;
}

.aligner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/**
      * Aligner child item rules
      * #TODO: Check if flex children rules are applied to nested childrens as well.
      * If not, then change below children selectors scope to direct (prefix '>' direct operator)
      **/
}
.aligner.aligner--inline {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.aligner.aligner--row {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.aligner.aligner--row-reverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.aligner.aligner--column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.aligner.aligner--column-reverse {
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}
.aligner.aligner--wrap-no {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.aligner.aligner--wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.aligner.aligner--wrap-reverse {
	-webkit-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}
.aligner.aligner--hStart {
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.aligner.aligner--hCenter {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.aligner.aligner--hEnd {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.aligner.aligner--hSpaceBetween {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.aligner.aligner--hSpaceAround {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.aligner.aligner--hSpaceEvenly {
	-webkit-box-pack: space-evenly;
	-webkit-justify-content: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.aligner.aligner--vStart {
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.aligner.aligner--vCenter {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.aligner.aligner--vEnd {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.aligner.aligner--vStretch {
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}
.aligner.aligner--vBaseline {
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
.aligner .aligner-item {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.aligner .aligner-item.aligner-item--growHalf {
	-webkit-box-flex: 0.5;
	-webkit-flex: 0.5;
	-ms-flex: 0.5;
	flex: 0.5;
}

.aligner .aligner-item.aligner-item--grow2 {
	-webkit-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}
.aligner .aligner-item.aligner-item--grow3 {
	-webkit-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
}
.aligner .aligner-item.aligner-item--grow4 {
	-webkit-box-flex: 4;
	-webkit-flex: 4;
	-ms-flex: 4;
	flex: 4;
}
.aligner .aligner-item.aligner-item--grow5 {
	-webkit-box-flex: 5;
	-webkit-flex: 5;
	-ms-flex: 5;
	flex: 5;
}
.aligner .aligner-item.aligner-item--order1 {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}
.aligner .aligner-item.aligner-item--order2 {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}
.aligner .aligner-item.aligner-item--order3 {
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	-ms-flex-order: 3;
	order: 3;
}
.aligner .aligner-item.aligner-item--order4 {
	-webkit-box-ordinal-group: 5;
	-webkit-order: 4;
	-ms-flex-order: 4;
	order: 4;
}
.aligner .aligner-item.aligner-item--order5 {
	-webkit-box-ordinal-group: 6;
	-webkit-order: 5;
	-ms-flex-order: 5;
	order: 5;
}
.aligner .aligner-item.aligner-item--vSelfAuto {
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}
.aligner .aligner-item.aligner-item--vSelfStart {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}
.aligner .aligner-item.aligner-item--vSelfCenter {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}
.aligner .aligner-item.aligner-item--vSelfEnd {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}
.aligner .aligner-item.aligner-item--vSelfStretch {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.aligner .aligner-item.aligner-item--vSelfBaseline {
	-webkit-align-self: baseline;
	-ms-flex-item-align: baseline;
	align-self: baseline;
}

.grid {
	background: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 1.5rem;
}
.grid * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.grid > [class^='grid-col'] {
	background: #dadbdf;
	-webkit-box-shadow: inset 0 0 0.5rem #ccc;
	box-shadow: inset 0 0 0.5rem #ccc;
	color: #999;
	font-size: 1.2rem;
	margin: 0;
	padding: 1.5rem;
	width: 100%;
}
.grid > .grid-col {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0;
	-ms-flex: 1 0;
	flex: 1 0;
}
.grid > .grid-col-12 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.grid > .grid-col-11 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 91.667%;
	-ms-flex: 0 0 91.667%;
	flex: 0 0 91.667%;
	max-width: 91.667%;
}
.grid > .grid-col-10 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 83.333%;
	-ms-flex: 0 0 83.333%;
	flex: 0 0 83.333%;
	max-width: 83.333%;
}
.grid > .grid-col-9 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 75%;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}
.grid > .grid-col-8 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 66.667%;
	-ms-flex: 0 0 66.667%;
	flex: 0 0 66.667%;
	max-width: 66.667%;
}
.grid > .grid-col-7 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 58.333%;
	-ms-flex: 0 0 58.333%;
	flex: 0 0 58.333%;
	max-width: 58.333%;
}
.grid > .grid-col-6 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.grid > .grid-col-5 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 41.667%;
	-ms-flex: 0 0 41.667%;
	flex: 0 0 41.667%;
	max-width: 41.667%;
}
.grid > .grid-col-4 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.333%;
	-ms-flex: 0 0 33.333%;
	flex: 0 0 33.333%;
	max-width: 33.333%;
}
.grid > .grid-col-3 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.grid > .grid-col-2 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 16.667%;
	-ms-flex: 0 0 16.667%;
	flex: 0 0 16.667%;
	max-width: 16.667%;
}
.grid > .grid-col-1 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 8.333%;
	-ms-flex: 0 0 8.333%;
	flex: 0 0 8.333%;
	max-width: 8.333%;
}

@media (min-width: 36em) {
	.grid > .grid-col-sm {
		-webkit-box-flex: 1;
		-webkit-flex: 1 0;
		-ms-flex: 1 0;
		flex: 1 0;
	}
	.grid > .grid-col-sm-12 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.grid > .grid-col-sm-11 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.667%;
		-ms-flex: 0 0 91.667%;
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}
	.grid > .grid-col-sm-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.333%;
		-ms-flex: 0 0 83.333%;
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}
	.grid > .grid-col-sm-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.grid > .grid-col-sm-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.667%;
		-ms-flex: 0 0 66.667%;
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}
	.grid > .grid-col-sm-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333%;
		-ms-flex: 0 0 58.333%;
		flex: 0 0 58.333%;
		max-width: 58.333%;
	}
	.grid > .grid-col-sm-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.grid > .grid-col-sm-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.667%;
		-ms-flex: 0 0 41.667%;
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}
	.grid > .grid-col-sm-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333%;
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.grid > .grid-col-sm-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.grid > .grid-col-sm-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.667%;
		-ms-flex: 0 0 16.667%;
		flex: 0 0 16.667%;
		max-width: 16.667%;
	}
	.grid > .grid-col-sm-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.333%;
		-ms-flex: 0 0 8.333%;
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}
}

@media (min-width: 48em) {
	.grid > .grid-col-md {
		-webkit-box-flex: 1;
		-webkit-flex: 1 0;
		-ms-flex: 1 0;
		flex: 1 0;
	}
	.grid > .grid-col-md-12 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.grid > .grid-col-md-11 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.667%;
		-ms-flex: 0 0 91.667%;
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}
	.grid > .grid-col-md-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.333%;
		-ms-flex: 0 0 83.333%;
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}
	.grid > .grid-col-md-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.grid > .grid-col-md-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.667%;
		-ms-flex: 0 0 66.667%;
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}
	.grid > .grid-col-md-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333%;
		-ms-flex: 0 0 58.333%;
		flex: 0 0 58.333%;
		max-width: 58.333%;
	}
	.grid > .grid-col-md-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.grid > .grid-col-md-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.667%;
		-ms-flex: 0 0 41.667%;
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}
	.grid > .grid-col-md-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333%;
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.grid > .grid-col-md-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.grid > .grid-col-md-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.667%;
		-ms-flex: 0 0 16.667%;
		flex: 0 0 16.667%;
		max-width: 16.667%;
	}
	.grid > .grid-col-md-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.333%;
		-ms-flex: 0 0 8.333%;
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}
}

@media (min-width: 62em) {
	.grid > .grid-col-lg {
		-webkit-box-flex: 1;
		-webkit-flex: 1 0;
		-ms-flex: 1 0;
		flex: 1 0;
	}
	.grid > .grid-col-lg-12 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.grid > .grid-col-lg-11 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.667%;
		-ms-flex: 0 0 91.667%;
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}
	.grid > .grid-col-lg-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.333%;
		-ms-flex: 0 0 83.333%;
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}
	.grid > .grid-col-lg-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.grid > .grid-col-lg-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.667%;
		-ms-flex: 0 0 66.667%;
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}
	.grid > .grid-col-lg-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333%;
		-ms-flex: 0 0 58.333%;
		flex: 0 0 58.333%;
		max-width: 58.333%;
	}
	.grid > .grid-col-lg-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.grid > .grid-col-lg-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.667%;
		-ms-flex: 0 0 41.667%;
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}
	.grid > .grid-col-lg-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333%;
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.grid > .grid-col-lg-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.grid > .grid-col-lg-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.667%;
		-ms-flex: 0 0 16.667%;
		flex: 0 0 16.667%;
		max-width: 16.667%;
	}
	.grid > .grid-col-lg-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.333%;
		-ms-flex: 0 0 8.333%;
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}
}

@media (min-width: 75em) {
	.grid > .grid-col-xl {
		-webkit-box-flex: 1;
		-webkit-flex: 1 0;
		-ms-flex: 1 0;
		flex: 1 0;
	}
	.grid > .grid-col-xl-12 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.grid > .grid-col-xl-11 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.667%;
		-ms-flex: 0 0 91.667%;
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}
	.grid > .grid-col-xl-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.333%;
		-ms-flex: 0 0 83.333%;
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}
	.grid > .grid-col-xl-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.grid > .grid-col-xl-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.667%;
		-ms-flex: 0 0 66.667%;
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}
	.grid > .grid-col-xl-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333%;
		-ms-flex: 0 0 58.333%;
		flex: 0 0 58.333%;
		max-width: 58.333%;
	}
	.grid > .grid-col-xl-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.grid > .grid-col-xl-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.667%;
		-ms-flex: 0 0 41.667%;
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}
	.grid > .grid-col-xl-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333%;
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.grid > .grid-col-xl-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.grid > .grid-col-xl-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.667%;
		-ms-flex: 0 0 16.667%;
		flex: 0 0 16.667%;
		max-width: 16.667%;
	}
	.grid > .grid-col-xl-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.333%;
		-ms-flex: 0 0 8.333%;
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}
}