/**********TEXT**********/
.u-text-uppercase {
	text-transform: uppercase !important;
}

.u-text-bold {
	font-weight: bold !important;
}

.u-text-underline {
	text-decoration: underline !important;
}

.u-text-underline-none {
	text-decoration: none !important;
}
