/**********USER INTERFACE**********/
.u-hide {
	display: none !important;
}

.u-cursor-pointer {
	cursor: pointer !important;
}

.u-box-shadow-none {
	box-shadow: none !important;
}

.u-width-full,
.u-block {
	width: 100% !important;
}

.u-width-half,
.u-block-half {
	width: 50% !important;
}

.u-height-full,
.u-block {
	height: 100% !important;
}

.u-height-half,
.u-block-half {
	height: 50% !important;
}

.u-block {
	display: block !important;
}

.u-block-half {
	display: block !important;
}
