/*****BOTTOM*****/
.u-mg-b0 {
	margin-bottom: 0 !important;
}

.u-mg-b1 {
	margin-bottom: $spacingXS !important;
}

.u-mg-b2 {
	margin-bottom: $spacingSM !important;
}

.u-mg-b3 {
	margin-bottom: $spacing !important;
}

.u-mg-b4 {
	margin-bottom: $spacingMD !important;
}

.u-mg-b5 {
	margin-bottom: $spacingLG !important;
}

.u-mg-b6 {
	margin-bottom: $spacingXL !important;
}

.u-mg-b7 {
	margin-bottom: $spacingXXL !important;
}
