/*****GENERIC*****/
.u-mg-0 {
	margin: 0 !important;
}

.u-mg-1 {
	margin: $spacingXS !important;
}

.u-mg-2 {
	margin: $spacingSM !important;
}

.u-mg-3 {
	margin: $spacing !important;
}

.u-mg-4 {
	margin: $spacingMD !important;
}

.u-mg-5 {
	margin: $spacingLG !important;
}

.u-mg-6 {
	margin: $spacingXL !important;
}

.u-mg-7 {
	margin: $spacingXXL !important;
}
