/***Horizontal***/
.u-mg-h0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.u-mg-h1 {
	margin-left: $spacingXS !important;
	margin-right: $spacingXS !important;
}

.u-mg-h2 {
	margin-left: $spacingSM !important;
	margin-right: $spacingSM !important;
}

.u-mg-h3 {
	margin-left: $spacing !important;
	margin-right: $spacing !important;
}

.u-mg-h4 {
	margin-left: $spacingMD !important;
	margin-right: $spacingMD !important;
}

.u-mg-h5 {
	margin-left: $spacingLG !important;
	margin-right: $spacingLG !important;
}

.u-mg-h6 {
	margin-left: $spacingXL !important;
	margin-right: $spacingXL !important;
}

.u-mg-h7 {
	margin-left: $spacingXXL !important;
	margin-right: $spacingXXL !important;
}
