/*****LEFT*****/
.u-mg-l0 {
	margin-left: 0 !important;
}

.u-mg-l1 {
	margin-left: $spacingXS !important;
}

.u-mg-l2 {
	margin-left: $spacingSM !important;
}

.u-mg-l3 {
	margin-left: $spacing !important;
}

.u-mg-l4 {
	margin-left: $spacingMD !important;
}

.u-mg-l5 {
	margin-left: $spacingLG !important;
}

.u-mg-l6 {
	margin-left: $spacingXL !important;
}

.u-mg-l7 {
	margin-left: $spacingXXL !important;
}
