/*****RIGHT*****/
.u-mg-r0 {
	margin-right: 0 !important;
}

.u-mg-r1 {
	margin-right: $spacingXS !important;
}

.u-mg-r2 {
	margin-right: $spacingSM !important;
}

.u-mg-r3 {
	margin-right: $spacing !important;
}

.u-mg-r4 {
	margin-right: $spacingMD !important;
}

.u-mg-r5 {
	margin-right: $spacingLG !important;
}

.u-mg-r6 {
	margin-right: $spacingXL !important;
}

.u-mg-r7 {
	margin-right: $spacingXXL !important;
}
