/**********MARGIN**********/
/*****TOP*****/
.u-mg-t0 {
	margin-top: $zero !important;
}

.u-mg-t1 {
	margin-top: $spacingXS !important;
}

.u-mg-t2 {
	margin-top: $spacingSM !important;
}

.u-mg-t3 {
	margin-top: $spacing !important;
}

.u-mg-t4 {
	margin-top: $spacingMD !important;
}

.u-mg-t5 {
	margin-top: $spacingLG !important;
}

.u-mg-t6 {
	margin-top: $spacingXL !important;
}

.u-mg-t7 {
	margin-top: $spacingXXL !important;
}
