/*****Combination*****/
/***Vertical***/
.u-mg-v0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.u-mg-v1 {
	margin-top: $spacingXS !important;
	margin-bottom: $spacingXS !important;
}

.u-mg-v2 {
	margin-top: $spacingSM !important;
	margin-bottom: $spacingSM !important;
}

.u-mg-v3 {
	margin-top: $spacing !important;
	margin-bottom: $spacing !important;
}

.u-mg-v4 {
	margin-top: $spacingMD !important;
	margin-bottom: $spacingMD !important;
}

.u-mg-v5 {
	margin-top: $spacingLG !important;
	margin-bottom: $spacingLG !important;
}

.u-mg-v6 {
	margin-top: $spacingXL !important;
	margin-bottom: $spacingXL !important;
}

.u-mg-v7 {
	margin-top: $spacingXXL !important;
	margin-bottom: $spacingXXL !important;
}
